/*CSS-Reset*/
* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		}

/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

#navbar {
	font-family: monospace;
	background-color: white;
	box-shadow: 3px 3px 3px lightgray;
}

#landing{
	color: black;
	background-color: rosybrown;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	width: auto;
	border-radius: 20px;
}

#profilePicture {
	border-radius: 50%;
 	border: 1px dimgray;
 	width: 200px;
 	height: auto;
}


#projects{
	color: black;
}
